.form {
  border: 1px solid #000000;
  padding: 20px 20px;
  font-size: 20px;
  background-color: #E6E6FA;
  border-radius: 5px;
}

.container {
}

.item {
  display: flex;
  margin: 20px 0;
}

.item label {
  width: 80px;
}

.item input {
  width: 60%;
}

textarea {
  width: 60%;
  height: 100px;
}

::placeholder {
  font-size: 14px;
}

.btn {
  font-size: 15px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  margin-right: 20px;
}
